.Rproj.user
.Rhistory
.RData
**/rsconnect/
**/figure-latex/
.DS_Store
**/*.min.map
revdep
Rplots.pdf
Greenwood_Book.aux
Greenwood_Book.blg
Greenwood_Book.log
Greenwood_Book.out
Greenwood_Book.rds
Greenwood_Book.toc

_publish.R
_book/01-preface_files/
_book/02-reintroductionToStatistics_files/
_book/03-oneWayAnova_files/
_book/04-twoWayAnova_files/
_book/05-chiSquaredTests_files/
_book/06-correlationAndSimpleLinearRegression_files/
_book/07-simpleLinearRegressionInference_files/
_book/08-multipleLinearRegression_files/
_book/09-caseStudies_files/

rsconnect
/*_cache/
/cache/
# Compiled source #
###################
*.md
*.RData
*.rdb
*.rdx
# Logs and databases #
######################
*.aux
*.bbl
*.log
*.out
*.tex
*.toc
Greenwood_Book.bbl
Greenwood_Book.tex
# Exceptions #
##############
!cover.tex
!titlepage.tex
!cover.pdf
!titlepage.pdf
!_book/Greenwood_Book.pdf
!preamble.tex
!appendix.tex
*.log
*.log
Greenwood_Book.toc
*.md
_book/01-preface.md
!*.html


03-oneWayAnova_files/figure-latex/Figure3-7-1.pdf
03-oneWayAnova_files/figure-latex/Figure3-8-1.pdf
03-oneWayAnova_files/figure-latex/Figure3-9-1.pdf
04-twoWayAnova_files/figure-html/Figure4-1-1.png
04-twoWayAnova_files/figure-html/Figure4-10-1.png
04-twoWayAnova_files/figure-html/Figure4-11-1.png
04-twoWayAnova_files/figure-html/Figure4-12-1.png
04-twoWayAnova_files/figure-html/Figure4-13-1.png
04-twoWayAnova_files/figure-html/Figure4-14-1.png
04-twoWayAnova_files/figure-html/Figure4-15-1.png
04-twoWayAnova_files/figure-html/Figure4-16-1.png
04-twoWayAnova_files/figure-html/Figure4-17-1.png
04-twoWayAnova_files/figure-html/Figure4-18-1.png
04-twoWayAnova_files/figure-html/Figure4-19-1.png
04-twoWayAnova_files/figure-html/Figure4-2-1.png
04-twoWayAnova_files/figure-html/Figure4-3-1.png
04-twoWayAnova_files/figure-html/Figure4-3b-1.png
cover.log
